@media only screen {
	/* Gadżet Alternatywny sposób kolorowania stron dyskusji */
	html.enable-dark-skin .ns-talk #bodyContent dl {border-color:#505000;}
	html.enable-dark-skin .ns-talk #bodyContent dl,
		html.enable-dark-skin .ns-talk #bodyContent dl dl dl,
		html.enable-dark-skin .ns-talk #bodyContent dl dl dl dl dl,
		html.enable-dark-skin .ns-talk #bodyContent dl dl dl dl dl dl dl,
		html.enable-dark-skin .ns-talk #bodyContent dl dl dl dl dl dl dl dl dl {background:#383800;}
	html.enable-dark-skin .ns-talk #bodyContent dl dl,
		html.enable-dark-skin .ns-talk #bodyContent dl dl dl dl,
		html.enable-dark-skin .ns-talk #bodyContent dl dl dl dl dl dl,
		html.enable-dark-skin .ns-talk #bodyContent dl dl dl dl dl dl dl dl,
		html.enable-dark-skin .ns-talk #bodyContent dl dl dl dl dl dl dl dl dl dl {background:#282828;}
}