@media only screen{
	/* Gadżet kolorujący nazwy użytkowników */
	html:not(.disable-dark-skin) a.nick_admin,
		html:not(.disable-dark-skin) a.nick_admin:visited {color:#7f7;}
	html:not(.disable-dark-skin) a.nick_bot,
		html:not(.disable-dark-skin) a.nick_bot:visited {color:#6ff;}
	html:not(.disable-dark-skin) a.nick_friend,
		html:not(.disable-dark-skin) a.nick_friend:visited {color:#7d7;}
	html:not(.disable-dark-skin) a.nick_ip,
		html:not(.disable-dark-skin) a.nick_ip:visited {color:#f99;}
	html:not(.disable-dark-skin) a.nick_dynamic_ip,
		html:not(.disable-dark-skin) a.nick_dynamic_ip:visited {color:#fae;}
	html:not(.disable-dark-skin) a.nick_steward,
		html:not(.disable-dark-skin) a.nick_steward:visited {color:#fb0;}
}